<template>
  <v-row v-if="!loading">
    <v-col
      v-for="student in students"
      :key="student._id"
      cols="12"
      sm="4"
      md="3"
    >
      <user-card :person="student" :type="'student'"/>
    </v-col>
  </v-row>
</template>

<script>
export default {
  data() {
    return {
      students: [],
      loading: true,
    }
  },
  async fetch() {
    this.students = await this.$axios.$get('/students')
    this.loading = false
  },
}
</script>
