<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <v-list>
        <v-list-item
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >
          <v-list-item-action>
            <v-icon>{{ item.icon }}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title v-text="item.title" />
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <template v-slot:append>
        <div class="pa-2">
          <v-btn icon @click.stop="miniVariant = !miniVariant">
            <v-icon
              >mdi-{{ `chevron-${miniVariant ? 'right' : 'left'}` }}</v-icon
            >
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
      <v-toolbar-title>
        <nuxt-link to="/" style="text-decoration: none" class="text--primary">
          {{ title }}
        </nuxt-link>
      </v-toolbar-title>
      <v-spacer />

      <v-menu offset-y min-width="200">
        <template v-slot:activator="{ on }">
          <v-btn text fab v-on="on">
            <v-avatar size="40" color="grey">
              <img src="https://picsum.photos/50/50" />
            </v-avatar>
          </v-btn>
        </template>
        <v-list>
          <v-subheader>User</v-subheader>
          <v-divider></v-divider>
          <v-list-item
            v-for="(item, i) in dropdownItems"
            :key="i"
            :to="item.to"
            router
            exact
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>{{ item.title }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-divider></v-divider>
          <v-list-item>
            <v-list-item-title>Logout</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container>
        <nuxt />
      </v-container>
    </v-main>
    <v-footer :absolute="!fixed" app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: true,
      drawer: true,
      fixed: false,
      dropdownItems: [
        {
          icon: 'mdi-apps',
          title: 'Account',
          to: '/account/profile',
        },
      ],
      items: [
        {
          icon: 'mdi-apps',
          title: 'Students',
          to: '/students',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Classrooms',
          to: '/classrooms',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Teachers',
          to: '/teachers',
        },
      ],
      miniVariant: false,
      title: 'Vuetify.js',
    }
  },
}
</script>
